@import '../abstracts/mixins';
@import '../abstracts/variables';

.card-container {
  margin: 0 auto 16.3rem;
  border: 1px solid black;

  &__inner {
    margin-left: $spacing-32;
    margin-right: $spacing-32;
  }

  .feature-card {
    @include feature-card;

    &.supervisor {
      border-top: 4px solid $color-cyan;
    }

    &.team-builder {
      border-top: 4px solid $color-red;
      margin-bottom: $spacing-32;
    }

    &.karma {
      border-top: 4px solid $color-orange;
    }

    &.calculator {
      border-top: 4px solid $color-blue;
    }

    &__text-container {
      margin-bottom: $spacing-32;
    }

    &__title {
      @include text-preset-3;
      margin-bottom: 0.6rem;
    }

    &__description {
      @include text-preset-5;
      margin-bottom: 0;
    }
  }
}
