// -----------------------------------------------------
// Global Styles
// -----------------------------------------------------

html {
  font-size: 62.5%; // 62.5% of 16px = 10px for easy rem calculations
}

// Primary
$color-red: #ea5454;
$color-cyan: #44d3d2;
$color-blue: #549ef2;
$color-orange: #fcae4a;

// Neutral
$color-grey1: #4d4f62;
$color-grey2: #6a7178;
$color-white: #ffffff;

// Global resets
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// -----------------------------------------------------
// Typography
// -----------------------------------------------------

$font-primary: 'Poppins', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-body: 1.5rem; // 15px

body {
  font-family: $font-primary;
  font-size: $font-size-body;
}

// -----------------------------------------------------
// Images
// -----------------------------------------------------

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// -----------------------------------------------------
// Spacing
// -----------------------------------------------------

$spacer: 1rem; // Bootstrap's default

$spacers: map-merge(
  (
    6: (
      $spacer * 2,
    ),
    // 32px
    7:
      (
        $spacer * 2.5,
      )
      // 40px,,,,,,
  ),
  $spacers
);

@import 'node_modules/bootstrap/scss/bootstrap';

// -----------------------------------------------------
// Mixins
// -----------------------------------------------------

@mixin text-preset-1 {
  font-size: 3.6rem;
  line-height: 140%;
  letter-spacing: 0.25px;
}

@mixin text-preset-2 {
  font-size: 3.6rem;
  font-weight: $font-weight-light;
  line-height: 140%;
  letter-spacing: 0.25px;
}

@mixin text-preset-3 {
  font-size: 2rem;
  font-weight: $font-weight-semibold;
  line-height: 135%;
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-size: 0.67rem;
  font-weight: $font-weight-regular;
  line-height: 140%;
  letter-spacing: 0;
}

@mixin text-preset-5 {
  font-size: 0.76rem;
  font-weight: $font-weight-regular;
  line-height: 160%;
  letter-spacing: 0;
}
